<!--@subject Your Order Has Been Rejected @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hello {{trans "%requester_name" requester_name=$data.requester_name}},</p>
            <p>
                {{trans "Unfortunately your order approval request has been rejected."}}
            </p>
            <p>
                {{trans "Please find rejection reason below:"}}
            </p>
            <p>
                "{{var data.reason}}"
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}