<!--@subject Your Order Has Been Approved @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hello {{trans "%requester_name" requester_name=$data.requester_name}},</p>
            <p>
                {{trans "Your order has been approved."}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}