<!--@subject {{trans "New Customer Waiting For Approve"}} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "You have new customer %firstname %lastname (%email) at your store. To approve him, click" email=$email firstname=$firstname lastname=$lastname}} <a href="{{var url}}">APPROVE</a>.</p>
            <p>{{trans "You need to login to admin dashboard before approving customers."}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}