<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAssignProduct
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner= $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
    $allow_pro_type=$_helper->getAllowedProductType();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
?>

<nav class="account-nav">
    <ul class="nav items">
        <?php if ($isPartner): ?>
            <?php if (($isSellerGroup && $_helper->isAllowedAction('mpassignproduct/product/view')) || !$isSellerGroup): ?>
                <li class="nav item <?php echo strpos($magentoCurrentUrl,'mpassignproduct/product/view')? "current":"";?>">
                    <a href="<?php echo $block->getUrl('mpassignproduct/product/view', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                        <?php /* @escapeNotVerified */ echo __('Assign Product') ?>
                    </a>
                </li>
            <?php endif; ?>
            <?php if (($isSellerGroup && $_helper->isAllowedAction('mpassignproduct/product/productlist')) || !$isSellerGroup): ?>
                <li class="nav item <?php echo strpos($magentoCurrentUrl,'mpassignproduct/product/productlist')? "current":"";?>">
                    <a href="<?php echo $block->getUrl('mpassignproduct/product/productlist', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                        <?php /* @escapeNotVerified */ echo __('Assign Product List') ?>
                    </a>
                </li>
            <?php endif; ?>
        <?php endif; ?>
    </ul>
</nav>