<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php $order = $block->getOrder() ?>
<?php $items = $block->getItems(); ?>
<?php
$paymentCode = '';
$colSpan = 7;
if ($order->getPayment()) {
    $colSpan = 8;
	$paymentCode = $order->getPayment()->getMethod();
}
?>
<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table" summary="<?php echo __('Items Invoiced') ?>">
        <caption class="table-caption"><?php echo __('Items Invoiced') ?></caption>
        <thead>
            <?php if($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="<?= $colSpan ?>" data-block="order-items-pager-top" class="order-pager-wrapper order-pager-wrapper-top">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <tr>
                <th class="col name"><?php echo __('Product Name') ?></th>
                <th class="col price"><?php echo __('Price') ?></th>
                <th class="col qty"><?php echo __('Qty') ?></th>
                <th class="col price"><?php echo __('Total Price') ?></th>
                <?php
                if ($paymentCode == 'mpcashondelivery') {?>
                    <th class="col price"><?php echo __('COD Charges') ?></th>
                <?php
                } ?>
                <th class="col price"><?php echo __('Admin Commission') ?></th>
                <th class="col price"><?php echo __('Vendor Total') ?></th>
                <th class="col price"><?php echo __('Subtotal') ?></th>
            </tr>
        </thead>
        <?php
        $i = 0;
        $count = count($items);
        foreach ($items as $item) {
            if ($item->getParentItem()) {
                continue;
            }
            $i++;
            $rowTotal = $item->getMageproPrice() * $item->getQtyOrdered();
            $sellerItemCost= $item->getActualSellerAmount();
            $sellerItemCommission = $item->getTotalCommission();
            $currencyRate = $item->getCurrencyRate();
            
            $result = [];
            if ($options = $item->getProductOptions()) {
                if (isset($options['options'])) {
                    $result = array_merge($result, $options['options']);
                }
                if (isset($options['additional_options'])) {
                    $result = array_merge($result, $options['additional_options']);
                }
                if (isset($options['attributes_info'])) {
                    $result = array_merge($result, $options['attributes_info']);
                }
            }
            // for bundle product
            $bundleitems = array_merge(array($item), $item->getChildrenItems());
            $count = count ($bundleitems);
            $index = 0;
            $prevOptionId = '';
            ?>
            <tbody>
                <?php
                if ($item->getProductType()!='bundle') { ?>
                    <tr class="border" id="order-item-row-<?php echo $item->getId() ?>">
                        <?php
                        if ($item->getProductType()=='downloadable') { ?>
                            <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                <strong class="product name product-item-name"><?php echo $block->escapeHtml($item->getName()) ?></strong>
                                <?php if ($options = $block->getItemOptions($item)): ?>
                                    <dl class="item-options links">
                                        <?php foreach ($options as $option) : ?>
                                            <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
                                            <?php if (!$block->getPrintStatus()): ?>
                                                <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                                                <dd>
                                                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                                                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?>
                                                    <?php else: ?>
                                                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                                                    <?php endif; ?>
                                                </dd>
                                            <?php else: ?>
                                                <dd><?php echo $block->escapeHtml((isset($option['print_value']) ? $option['print_value'] : $option['value'])) ?></dd>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php /* downloadable */?>
                                <?php if ($links = $block->getDownloadableLinks($item->getId())): ?>
                                    <dl class="item-options links">
                                        <dt><?php /* @escapeNotVerified */ echo $block->getLinksTitle($item->getId()) ?></dt>
                                        <?php foreach ($links->getPurchasedItems() as $link): ?>
                                            <dd><?php echo $block->escapeHtml($link->getLinkTitle()); ?></dd>
                                        <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php /* EOF downloadable */?>

                                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                                <?php if ($addInfoBlock) :?>
                                    <?php echo $addInfoBlock->setItem($item->getOrderItem())->toHtml(); ?>
                                <?php endif; ?>
                                <?php echo $block->escapeHtml($item->getDescription()) ?>
                                <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                <?php if ($addInfoBlock): ?>
                                    <?php echo $addInfoBlock->setItem($item)->toHtml() ?>
                                <?php endif;?>
                            </td>
                        <?php
                        }else{ ?>
                            <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                <strong class="product name product-item-name"><?php echo $block->escapeHtml($item->getName()) ?></strong>
                                <?php if ($options = $result): ?>
                                    <dl class="item-options">
                                    <?php foreach ($options as $option) : ?>
                                        <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
                                        <?php if (!$block->getPrintStatus()): ?>
                                            <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                                            <dd>
                                                <?php if (isset($formatedOptionValue['full_view'])): ?>
                                                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?>
                                                <?php else: ?>
                                                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                                                <?php endif; ?>
                                            </dd>
                                        <?php else: ?>
                                            <dd>
                                                <?php echo nl2br($block->escapeHtml( (isset($option['print_value']) ? $option['print_value'] : $option['value']) )) ?>
                                            </dd>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                <?php if ($addInfoBlock): ?>
                                    <?php echo $addInfoBlock->setItem($item)->toHtml() ?>
                                <?php endif;?>
                            </td>
                        <?php }?>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                            <span class="price-excluding-tax" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
                                <span class="cart-price">
                                    <?php echo $order->formatPrice($item->getPrice()); ?>
                                </span>
                            </span>
                        </td>
                        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
                            <ul class="items-qty">
                                <?php if ($item->getQtyOrdered() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Ordered'); ?></span>
                                        <span class="content"><?php echo $item->getQtyOrdered()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyInvoiced() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Invoiced'); ?></span>
                                        <span class="content"><?php echo $item->getQtyInvoiced()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyShipped() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Shipped'); ?></span>
                                        <span class="content"><?php echo $item->getQtyShipped()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyCanceled() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Canceled'); ?></span>
                                        <span class="content"><?php echo $item->getQtyCanceled()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyRefunded() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Refunded'); ?></span>
                                        <span class="content"><?php echo $item->getQtyRefunded()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </td>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Total Price')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $rowTotal));?></td>
                        <?php
                        if ($paymentCode == 'mpcashondelivery') {?>
                            <td class="col price" data-th="<?php echo $block->escapeHtml(__('COD Charges')) ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $item->getCodCharges()));?></td>
                        <?php
                        } ?>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Admin Commission')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $sellerItemCommission));?></td>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Vendor Total')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $sellerItemCost));?></td>
                        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $rowTotal));?></td>
                    </tr>
                <?php
                } else { ?>
                    <?php foreach ($bundleitems as $bundleitem): ?>
                        <?php
                        $bundleItemTotals = $block->getSellerOrdersList(
                            $order->getId(),
                            $bundleitem->getProductId(),
                            $bundleitem->getId()
                        );
                        $codCharges = 0;
                        foreach ($bundleItemTotals as $bundleItemTotal) {
                            $rowTotal = $bundleItemTotal->getMageproPrice() * $bundleitem->getQtyOrdered();
                            $sellerItemCost = $bundleItemTotal->getActualSellerAmount();
                            $sellerItemCommission = $bundleItemTotal->getTotalCommission();
                            $currencyRate = $bundleItemTotal->getCurrencyRate();
                            if ($paymentCode == 'mpcashondelivery') {
                                $codCharges = $bundleItemTotal->getCodCharges();
                            }
                        }
                        ?>
                        <?php $attributes_option = $block->getSelectionAttribute($bundleitem); ?>
                        <?php if ($bundleitem->getParentItem()): ?>
                            <?php $attributes = $attributes_option ?>
                            <?php if ($prevOptionId != $attributes['option_id']): ?>
                            <tr class="options-label">
                                <td class="col label" colspan="<?= $colSpan ?>" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                    <?php echo $attributes['option_label'] ?>
                                </td>
                            </tr>
                            <?php $prevOptionId = $attributes['option_id'] ?>
                            <?php endif; ?>
                        <?php endif; ?>
                        <tr<?php echo (++$index==$count)?' class="border bundle"':' class="bundle"' ?> id="order-item-row-<?php echo $bundleitem->getId() ?>">
                            <?php 
                            if (!$bundleitem->getParentItem()) {?>
                                <td><h3 class="product-name"><?php echo $block->escapeHtml($bundleitem->getName()) ?></h3></td>
                                <td class="col price" data-rwd-label="<?php echo __('Price') ?>">
                                    <span class="price-excluding-tax" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
                                        <?php echo $order->formatPrice($item->getPrice());?>
                                    </span>
                                </td>
                                <td class="col qty item_status" data-rwd-label="<?php echo __('Status') ?>">
                                    <ul class="items-qty">
                                        <?php if ($item->getQtyOrdered() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Ordered'); ?></span>
                                                <span class="content"><?php echo $item->getQtyOrdered()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                            <?php
                            } else { ?>
                                <?
                                $i++;
                                ?>
                                <td class="col value" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                    <?php echo $block->getValueHtml($bundleitem)?>
                                    <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                    <?php if ($addInfoBlock): ?>
                                        <?php echo $addInfoBlock->setItem($bundleitem)->toHtml() ?>
                                    <?php endif;?>
                                </td>
                                <td class="col price" data-rwd-label="<?php echo __('Price') ?>"><?php echo $order->formatPrice($bundleitem->getPrice());?></td>
                                <td class="col qty item_status" data-rwd-label="<?php echo __('Status') ?>">
                                    <ul class="items-qty">
                                        <?php if ($bundleitem->getQtyOrdered() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Ordered'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyOrdered()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyInvoiced() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Invoiced'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyInvoiced()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyShipped() > 0 && !$block->isShipmentSeparately()): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Shipped'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyShipped()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyCanceled() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Canceled'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyCanceled()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyRefunded() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Refunded'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyRefunded()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </td>
                                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Total Price')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $rowTotal));?></td>
                                <?php if ($paymentCode == 'mpcashondelivery') { ?>
                                    <td class="col price" data-th="<?php echo $block->escapeHtml(__('COD Charges')) ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $codCharges));?></td>
                                <?php
                                } ?>
                                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Admin Commission')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $sellerItemCommission));?></td>
                                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Vendor Total')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $sellerItemCost));?></td>
                                <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $rowTotal));?></td>
                            <?php
                            }?>
                        </tr>
                    <?php endforeach; ?>
                <?php
            }?>
            </tbody>
            <?php
        } ?>
        <tfoot>
            <?php if($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="<?= $colSpan ?>" data-block="order-items-pager-bottom" class="order-pager-wrapper order-pager-wrapper-bottom">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <?= $block->getChildHtml('marketplace_order_invoice_totals') ?>
        </tfoot>
    </table>
</div>
