<?php
$mobileHelper = $this->helper('Meetanshi\Mobilelogin\Helper\Data');
$blockObj= $block->getLayout()->createBlock('MaxMage\InternationalTelephoneInput\Block\PhoneNumber');

if ($mobileHelper->isAllowtologinPage()) {

    if(!$mobileHelper->customerLoggedIn()) {?>
        <button class="action action-auth-toggle" id="checkoutlogin">Already Have an Account? Click here to login</button>
    <?php } ?>
    <div class="mobile-login">
        <div class="block block-customer-login">
            <div class="block-title">
                <strong id="block-customer-login-heading" role="heading"
                        aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
            </div>
            <div class="block-content" aria-labelledby="block-customer-login-heading">
                <form class="form form-login"
                      action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
                      method="post"
                      id="login-form"
                      data-mage-init='{"validation":{}}'>
                    <?= $block->getBlockHtml('formkey') ?>
                    <fieldset class="fieldset login"
                              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                        <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                        <div class="field email required">
                            <label class="label"
                                   for="email"><span><?= $block->escapeHtml(__('Email / Mobile Number')) ?></span></label>
                            <div class="control">
                                <input name="login[username]"
                                       value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>"
                                       id="email" type="email" class="input-text"
                                       title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true"
                                       }>
                            </div>
                        </div>
                        <div class="field password required">
                            <label for="pass"
                                   class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                            <div class="control">
                                <input name="login[password]"
                                       type="password" autocomplete="off"
                                       class="input-text" id="pass"
                                       title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                                       data-validate="{required:true}">
                            </div>
                        </div>
                        <?= $block->getChildHtml('form_additional_info') ?>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button type="submit" class="action login primary" name="send" id="send2">
                                    <span><?= $block->escapeHtml(__('Sign In')) ?></span></button>
                            </div>
                            <div class="secondary"><a class="action remind"
                                                      href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <?php if ($this->helper('Meetanshi\Mobilelogin\Helper\Data')->isAllowtologinPage()) { ?>
        <input type="hidden" value="<?php echo $this->getUrl(); ?>" id="baseUrl"/>
        <input type="hidden" name=otptype" id="otptype" value="login"/><br/>
        <div class="mobile-sendotp-popup">
            <form name="mobilelogin_register">
                <span id="mobilelogin-popup-message" class="mobilelogin-popup-message"></span><br>
                <label><?php echo __('Mobile Number') ?></label><em>*</em>
                <input type="text" name="mobilenumber" id="mobilenumber" required="true" value=""/>
                <label id="mobilelogin-error" class="mobilelogin-error"></label>
            </form>
        </div>
        <div class="mobile-otpverify-popup">
            <span class="mobilelogin-popup-message"></span><br>
            <input type="hidden" name="checkoutlogin" class="checkoutlogin" value="checkout">
            <label id="mobilelogin-success" class="mobilelogin-success"></label>
            <label><?php echo __('Verify Mobile Number') ?></label>
            <input type="text" name="otp_input" id="otp_input"/>
        </div>

        <script type="text/x-magento-init">
        {
        "input[name='mobilenumber']": {
            "MaxMage_InternationalTelephoneInput/js/internationalTelephoneInput": <?php echo $blockObj->phoneConfig(); ?>
        }
        }
        </script>

        <style>
            .modal-popup._inner-scroll .modal-content{
                overflow-y: unset;
            }
        </style>

        <script>
            require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function (
                    $,
                    modal
                ) {
                    var verifyoption = {
                        type: 'popup',
                        modalClass: 'mobilelogin-popup',
                        responsive: true,
                        innerScroll: true,
                        clickableOverlay: false,
                        title: 'Login Otp Verify',
                        buttons: [{
                            text: $.mage.__('Verify OTP'),
                            class: 'action primary mobilebutton',
                            click: function () {
                                otpVerify();
                            }
                        },
                            {
                                text: $.mage.__('ReSend OTP'),
                                class: 'action primary resendotp mobilebutton',
                                click: function () {
                                    sendOTP(1);
                                }
                            }
                        ]
                    };

                    var sendoption = {
                        type: 'popup',
                        modalClass: 'mobilelogin-popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Login',
                        clickableOverlay: false,
                        buttons: [{
                            text: $.mage.__('Send OTP'),
                            class: 'action primary sendotp',
                            click: function () {
                                sendOTP(0);
                            }
                        },
                            {
                                text: $.mage.__('Forgot Password'),
                                class: 'action primary',
                                click: function () {
                                    window.location.href = $("#baseUrl").val() + '/customer/account/forgotpassword';
                                }
                            }
                        ]
                    };
                    var sendpopup = modal(sendoption, $('.mobile-sendotp-popup'));
                    var verifypopup = modal(verifyoption, $('.mobile-otpverify-popup'));
                    $('.mobile-login').css('display', 'none');
                }
            );
        </script>
    <?php } ?>
    <script type="text/javascript">
        require(['jquery', 'jquery/ui'], function ($) {
            $(document).ready(function ($) {
                $('.authentication-wrapper').hide();
                $('#checkoutlogin').on('click', function () {
                    $('.mobile-sendotp-popup').modal('openModal');
                });
            });
        });
    </script>
    <style>
        .authentication-wrapper {
            display: none;
        }
    </style>
<?php } ?>
<script>
    window.valuesConfig = '<?php /* @escapeNotVerified */ echo $block->getValuesConfig(); ?>'
</script>
