<div class="mobilelogin-forgot">
    <form class="form password forget"
          action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></div>
            <div class="field email required">
                <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" alt="email" id="email_address" class="input-text"
                           value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>"
                           data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <?= $block->getChildHtml('form_additional_info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary">
                    <span><?= $block->escapeHtml(__('Reset My Password')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back"
                   href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>
    </form>
</div>
<?php if (($this->helper('Meetanshi\Mobilelogin\Helper\Data')->isAllowtoForgotPage())) { ?>
    <?php
    $blockObj= $block->getLayout()->createBlock('MaxMage\InternationalTelephoneInput\Block\PhoneNumber');
    ?>
    <input type="hidden" value="<?php echo $this->getUrl(); ?>" id="baseUrl"/>
    <input type="hidden" name=otptype" id="otptype" value="forgot"/><br/>
    <div class="mobile-sendotp-popup">
        <form name="mobilelogin_register">
            <span id="mobilelogin-popup-message" class="mobilelogin-popup-message"></span><br>
            <label><?php echo __('Mobile Number') ?></label><em>*</em>
            <input type="text" name="mobilenumber" id="mobilenumber"/>
            <label id="mobilelogin-error" class="mobilelogin-error"></label>
        </form>
    </div>
    <div class="mobile-otpverify-popup">
        <span class="mobilelogin-popup-message"></span><br>
        <label id="mobilelogin-success" class="mobilelogin-success"></label>
        <label><?php echo __('Verify Mobile Number') ?></label>
        <input type="text" name="otp_input" id="otp_input"/>
        <label id="mobilelogin-error" class="mobilelogin-error"></label>
    </div>
    <div id="mobile-resetpasswd-popup">
        <span class="mobilelogin-popup-message"></span><br>
        <label id="mobilelogin-success" class="mobilelogin-success"></label>
        <label id="mobilelogin-error" class="mobilelogin-error"></label>
        <label><?php echo __('Password') ?></label><em>*</em>
        <input type="password" name="mobpassword" id="mobpassword"/>
        <label><?php echo __('Confirm Password') ?></label><em>*</em>
        <input type="password" name="mobrepassword" id="mobrepassword"/>
    </div>

    <script type="text/x-magento-init">
        {
        "input[name='mobilenumber']": {
            "MaxMage_InternationalTelephoneInput/js/internationalTelephoneInput": <?php echo $blockObj->phoneConfig(); ?>
        }
        }
        </script>

    <style>
        .modal-popup._inner-scroll .modal-content{
            overflow-y: unset;
        }
    </style>

    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function ($,
                      modal) {
                var sendoption = {
                    type: 'popup',
                    modalClass: 'mobilelogin-popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Forgot Password',
                    clickableOverlay: false,
                    buttons: [{
                        text: $.mage.__('Send OTP'),
                        class: 'action primary sendotp mobilebutton',
                        click: function () {
                            sendOTP(0);
                        }
                    },
                        {
                            text: $.mage.__('Reset Using Email'),
                            class: 'action primary mobilebutton',
                            click: function () {
                                $('.mobile-sendotp-popup').modal('closeModal');
                                $('.mobilelogin-forgot').show();
                            }
                        }
                    ]
                };

                var verifyoptions = {
                    type: 'popup',
                    modalClass: 'mobilelogin-popup',
                    responsive: true,
                    innerScroll: true,
                    clickableOverlay: false,
                    title: 'Forgot Password OTP Verify',
                    buttons: [{
                        text: $.mage.__('OTP Verify'),
                        class: 'action primary',
                        click: function () {
                            otpVerify();
                        }
                    },
                        {
                            text: $.mage.__('ReSend OTP'),
                            class: 'action primary resendotp mobilebutton',
                            click: function () {
                                sendOTP(1);
                            }
                        }
                    ]
                };

                var passwordopt = {
                    type: 'popup',
                    modalClass: 'mobilelogin-popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Reset Password',
                    clickableOverlay: false,
                    buttons: [{
                        text: $.mage.__('Reset Password'),
                        class: 'action primary btnresetpasswd mobilebutton',
                        click: function () {
                            changepassword();
                        }
                    },
                        {
                            text: $.mage.__('Cancel'),
                            class: 'action primary cancel',
                            click: function () {
                                $('#mobile-resetpasswd-popup').modal('closeModal');
                            }
                        }
                    ]
                };

                var sendpopup = modal(sendoption, $('.mobile-sendotp-popup'));
                var verifypopup = modal(verifyoptions, $('.mobile-otpverify-popup'));
                var resetpopup = modal(passwordopt, $('#mobile-resetpasswd-popup'));
                $('.mobile-sendotp-popup').modal('openModal');
                $('.mobilelogin-forgot').hide();

            }
        );
    </script>
<?php } ?>


