<?php
if (($this->helper('Meetanshi\Mobilelogin\Helper\Data')->isAllowtoUpdatePage())) { ?>
    <?php
    $blockObj= $block->getLayout()->createBlock('MaxMage\InternationalTelephoneInput\Block\PhoneNumber');
    ?>

    <input type="hidden" value="<?php echo $this->getUrl(); ?>" id="baseUrl"/>
    <div class="updatemobile">
        <?php if ($block->getCustomerMobileNumber() != "") { ?>
            <input type="text" name="oldmobile" id="oldmobile" value="<?php echo $block->getCustomerMobileNumber() ?>"
                   readonly="readonly"/>
            <input type="button" class="action primary addmobile" name="updatemobilenumber" id="updatemobilenumber"
                   required="true" value="Update Mobile Number"/>

        <?php } else { ?>
            <input type="button" class="action primary addmobile" name="addmobilenumber" id="addmobilenumber"
                   required="true" value="Add Mobile Number"/>
        <?php } ?>
    </div>
    <div class="mobile-sendotp-popup">
        <form name="mobilelogin_register">
            <span id="mobilelogin-popup-message" class="mobilelogin-popup-message"></span><br>
            <label><?php echo __('Mobile Number') ?></label><em>*</em>
            <input type="hidden" name=otptype" id="otptype" value="update"/><br/>
            <input type="text" name="mobilenumber" id="mobilenumber" required="true" value=""/>
            <label id="mobilelogin-error" class="mobilelogin-error"></label>
        </form>
    </div>
    <div class="mobile-otpverify-popup">
        <span class="mobilelogin-popup-message"></span><br>
        <label id="mobilelogin-success" class="mobilelogin-success"></label>
        <label><?php echo __('Verify Mobile Number') ?></label>
        <input type="hidden" name=otptype" id="otptype" value="update"/><br/>
        <input type="text" name="otp_input" id="otp_input"/>
    </div>

    <script type="text/x-magento-init">
        {
        "input[name='mobilenumber']": {
            "MaxMage_InternationalTelephoneInput/js/internationalTelephoneInput": <?php echo $blockObj->phoneConfig(); ?>
        }
        }
        </script>

    <style>
        .modal-popup._inner-scroll .modal-content{
            overflow-y: unset;
        }
    </style>

    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function ($,
                      modal) {
                var sendoptions = {
                    type: 'popup',
                    modalClass: 'mobilelogin-popup',
                    responsive: true,
                    innerScroll: true,
                    title: 'Update Mobile',
                    clickableOverlay: false,
                    buttons: [{
                        text: $.mage.__('Send Otp'),
                        class: 'action primary sendotp mobilebutton',
                        click: function () {
                            sendOTP(0);
                        }
                    }]
                };
                var verifyoptions = {
                    type: 'popup',
                    modalClass: 'mobilelogin-popup',
                    responsive: true,
                    innerScroll: true,
                    clickableOverlay: false,
                    title: 'Update OTP Verify',
                    buttons: [{
                        text: $.mage.__('Verify OTP'),
                        class: 'action primary mobilebutton',
                        click: function () {
                            otpVerify();
                        }
                    },
                        {
                            text: $.mage.__('ReSend OTP'),
                            class: 'action primary resendotp mobilebutton',
                            click: function () {
                                sendOTP(1);
                            }
                        }
                    ]
                };
                var sendpopup = modal(sendoptions, $('.mobile-sendotp-popup'));
                var verifypopup = modal(verifyoptions, $('.mobile-otpverify-popup'));
            }
        );
    </script>
<?php } ?>
