<?php 
if(stristr($_SERVER['REQUEST_URI'],'/customer/index/new') || stristr($_SERVER['REQUEST_URI'],'/customer/index/edit') ||  stristr($_SERVER['REQUEST_URI'],'/sales/order/address/address_id') || stristr($_SERVER['REQUEST_URI'],'/sales/order_create/index') ){
$useloopdetect=false;
if(stristr($_SERVER['REQUEST_URI'],'/customer/index/new') || stristr($_SERVER['REQUEST_URI'],'/customer/index/edit') || stristr($_SERVER['REQUEST_URI'],'/sales/order_create/index'))
$useloopdetect=true;

	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$core_write = $resource->getConnection();
	$tableName = $resource->getTableName('address_cn_data');
	$allcnaddress=array();


$directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');
$rootPath  =  $directory->getRoot();

$base = $rootPath."/app/code/Sunflowerbiz/ChinaAddress/Setup";	
$vendorbase=$rootPath."/vendor/Sunflowerbiz/ChinaAddress/Setup";
	if(!file_exists($base.'/address_cn_data.sql') && file_exists( $vendorbase.'/address_cn_data.sql')){
		$base=$vendorbase;
	}	
	
	if(file_exists($base.'/address_cn_data.sql') ) {
		$maxsql= "select * from `".$tableName."` ";
		$sqlfetch=$core_write->fetchAll($maxsql);
		if(count($sqlfetch)<=0){	
				$insertsqls=str_replace('`address_cn_data`','`'.$tableName.'`',file_get_contents($base.'/address_cn_data.sql'));
				 $charset[1] = substr($insertsqls, 0, 1); 
				 $charset[2] = substr($insertsqls, 1, 1); 
				 $charset[3] = substr($insertsqls, 2, 1); 
				   if (ord($charset[1]) == 239 && ord($charset[2]) == 187 && ord($charset[3]) == 191)
      					 $insertsqls = substr($insertsqls, 3); 
				
					$insertsqls=str_replace(array('\r','\n'),'',$insertsqls);
				$insertsqlsarray=	explode(';', $insertsqls);
				foreach($insertsqlsarray as $insertsql){
				//echo trim($insertsql).'<br>';
				$core_write->query(trim($insertsql));
				}
			}
			
	}
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl=$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$ajaxurl=$baseurl.'/chinaaddress/getaddress/cnaddress/';

;	

?>
<script  type="text/javascript">

	var cnurl="<?php echo $ajaxurl?>";
	var text_province= "<?php echo __('China Province');?>";
	var text_city= "<?php echo __('China City');?>";
	var text_region="<?php echo __('China Region/Area');?>";
	var text_detail="<?php echo __('China Detail address');?>";
	var text_select="<?php echo __('- Please select -');?>";
	var text_loading="<?php echo __('- Loading... -');?>";
	var  tInterval ='';
	var currentnum='';
	
	var street1id='#street_1';
	var street2id='#street_2';
	
	
	var country1id='"select[name=\'country_id\']"';
	var province1id='"input[name=\'region\']"';
	var city1id='"input[name=\'city\']"';
	var countryselectnameprefix='address';
	
<?php 
	if(stristr($_SERVER['REQUEST_URI'],'/sales/order/address/address_id') ){
	echo    '
		country1id="#country_id";
	province1id="#region";
	city1id="#city";
	street1id="#street0";
	street2id="#street1";
	';
   }
   
   if(stristr($_SERVER['REQUEST_URI'],'/sales/order_create/index') ){
	echo    '
	country1id="#order-billing_address_country_id";
	province1id="#order-billing_address_region";
	city1id="#order-billing_address_city";
	street1id="#order-billing_address_street0";
	street2id="#order-billing_address_street1";
	';
   }
   

  
   
 ?>
	
	var cnaddressadded=false;
	function selectaddress(ths,targ,currnum){
				if(currnum!='')
				var cnum=currnum;
				else
				var cnum=currentnum;
				var name=ths.value;
				var current="";
				if(targ=='cncity') current="cnprovince";
				if(targ=='cnregion') current="cncity";
				if(targ=='cnstreet1') current="cnregion";
				if(name=='new'){
					jQuery("#new_address_"+current).fadeIn();
					return;
				}
				if(targ=='cncity') jQuery(province1id).val(name).trigger("keyup").trigger("change");
				if(targ=='cnregion') jQuery(city1id).val(name).trigger("keyup").trigger("change");
				jQuery("#new_address_"+current+cnum).hide();
				if(targ=='cnstreet1') {jQuery(street1id).val(name).trigger("keyup").trigger("change");return;}
				jQuery("#"+targ+cnum).html("<option value=''>"+text_loading+"</option>");
				jQuery("#loadloading_"+targ).fadeIn();
				//jQuery("#"+targ).html("");
				var url=cnurl+"?type="+targ+"&name="+name; 
				if(targ=='cnregion')
				url+='&province='+jQuery("#cnprovince").val();
			
				var req = getAjax();  
				req.open("GET", url, true);
				req.onreadystatechange = function(){ 
				  if(req.readyState==4){  
					var rdata=req.responseText;
					jQuery("#"+targ+cnum).html(rdata);
					jQuery("#loadloading_"+targ).hide();
				 }  
				}; 
				req.send(null);
			}
			
		function setnewdata(val,targ){
					if(targ=='province') jQuery(province1id).val(val).trigger("keyup").trigger("change");
					if(targ=='city') jQuery(city1id).val(val).trigger("keyup").trigger("change");
					if(targ=='region') jQuery(street1id).val(val).trigger("keyup").trigger("change");
					if(targ=='street2') jQuery(street2id).val(val).trigger("keyup").trigger("change");
		}
			
		function getAjax() {     
				var oHttpReq = null;  if(window.ActiveXObject)  oHttpReq = new ActiveXObject("MSXML2.XMLHTTP");     else if(window.createRequest)  oHttpReq = window.createRequest(); else  oHttpReq = new XMLHttpRequest();return oHttpReq;
			}  
			
		function SetCNaddress(){
				var province=jQuery(province1id).val();
				jQuery('#cnprovince'+currentnum).val(province);
				if(province!='' && jQuery('#cnprovince'+currentnum).val()==null){
				jQuery('#cnprovince'+currentnum).val('new');
				jQuery("#new_address_cnprovince"+currentnum).fadeIn().find('input').val(province);
				}
				var city=jQuery(city1id).val();
				var region=jQuery(street1id).val();

				var region2=jQuery(street2id).val();
				var url=cnurl+"?type=setdefault&province="+province+"&city="+city+"&region="+region;
				var url=cnurl+"?type=cncity&name="+province;
				
				jQuery.ajax({url: url, success: function(rdata){
					jQuery("#cncity"+currentnum).html(rdata);
					jQuery('#cncity'+currentnum).val(city);
					if(city!='' && jQuery('#cncity'+currentnum).val()==null){
						jQuery('#cncity'+currentnum).val('new');
						jQuery("#new_address_cncity"+currentnum).fadeIn().find('input').val(city);
					}
					
					var url=cnurl+"?type=cnregion&name="+city;
					jQuery.ajax({url: url, success: function(rdata){
						jQuery("#cnregion"+currentnum).html(rdata);
						jQuery('#cnregion'+currentnum).val(region);
						if(region!='' && jQuery('#cnregion'+currentnum).val()==null){
						jQuery('#cnregion'+currentnum).val('new');
						jQuery("#new_address_cnregion"+currentnum).fadeIn().find('input').val(region);
						}
						
					}});
				}});
				jQuery('#cnregion2'+currentnum).val(region2);
			
		}
			
		function UseCNaddress(){
				//alert('Use cn');	
				jQuery('.cnaddress').show();
				jQuery(province1id).parent().parent().hide();
				jQuery(city1id).parent().parent().hide();
				
				<?php if ( stristr($_SERVER['REQUEST_URI'],'/customer/index/new') || stristr($_SERVER['REQUEST_URI'],'/customer/index/edit')  ){ ?>
				jQuery(street1id).parent().parent().parent().parent().hide();
				<?php } ?>
				if(street1id!='#street_1')
				jQuery(street1id).parent().parent().parent().hide();
				else
				jQuery(street1id).parent().parent().hide();
		}
		function UseOrgaddress(){
				//alert('Use org');	
				jQuery('.cnaddress').hide();
				jQuery(province1id).parent().parent().show();
				jQuery(city1id).parent().parent().show();
				
				<?php if ( stristr($_SERVER['REQUEST_URI'],'/customer/index/new') || stristr($_SERVER['REQUEST_URI'],'/customer/index/edit')  ){ ?>
				jQuery(street1id).parent().parent().parent().parent().show();
				<?php } ?>
				
				if(street1id!='#street_1')
				jQuery(street1id).parent().parent().parent().show();
				else
				jQuery(street1id).parent().parent().show();
		}
		
			
		function inticnaddress(){
		
 <?php 
 if(stristr($_SERVER['REQUEST_URI'],'/sales/order_create/index') ){
	echo    '
	/*if(country1id=="#order-billing_address_country_id"){
		country1id="#order-shipping_address_country_id";
		province1id="#order-shipping_address_region";
		city1id="#order-shipping_address_city";
		street1id="#order-shipping_address_street0";
		street2id="#order-shipping_address_street1";
		currentnum="shipping";
	}else{
		country1id="#order-billing_address_country_id";
		province1id="#order-billing_address_region";
		city1id="#order-billing_address_city";
		street1id="#order-billing_address_street0";
		street2id="#order-billing_address_street1";
		currentnum="billing";
	}*/
	if(jQuery("#cnprovince"+currentnum).length<=0)
	cnaddressadded=false;
	else
	cnaddressadded=true;
	';
 }  elseif ($useloopdetect  ){ ?>
	 if(jQuery('option[value="CN"]').length>0 ){
	 	jQuery('option[value="CN"]').each(function(){
			 var countryselectname=jQuery(this).parent().attr('name');
			 var num=countryselectname.replace(countryselectnameprefix+'[','').replace('][country_id]','');
			  country1id="select[name='"+countryselectname+"']";
			 province1id=country1id.replace('country_id','region').replace('select','input');
			 city1id=country1id.replace('country_id','city').replace('select','input');
			 street1id=country1id.replace('country_id','street][0').replace('select','input');
			 street2id=country1id.replace('country_id','street][1').replace('select','input');
			 if(jQuery('#cnprovince'+num).length<=0){
			 currentnum=num; 
			 cnaddressadded=false;
			  return false;
			 }else{
			  cnaddressadded=true;
			 }
		 });
	 }else
	 return;


<?php } ?>


			if(jQuery(country1id).length>0 && jQuery(province1id).length>0 && !cnaddressadded){
	
		var cnhtml='<div class="admin__field cnaddress cnprovince required _required"><label class="label admin__field-label" for="cnprovince"><span>'+text_province+'</span></label><div class="admin__field-control control"><select onchange="selectaddress(this,\'cncity\',\''+currentnum+'\');" name="cnprovince" value="" title="'+text_province+'" class="input-text admin__control-text  required-entry" id="cnprovince'+currentnum+'" aria-required="true"><?php
		echo '<option value="">' .__('- Please select -')  . '</option>';
		$maxsql= "select * from `".$tableName."` group by province ";
		$sqlfetch=$core_write->fetchAll($maxsql);
		foreach($sqlfetch as $cnaddress){
		echo '<option value="'.$cnaddress['province'].'">'.$cnaddress['province'].'</option>';
		}		
		echo '<optgroup label="====================="></optgroup><option value="new">'. __('Not found, enter yourself').'</option>';
			
?></select><div  id="new_address_cnprovince'+currentnum+'" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text" onchange="setnewdata(this.value,\'province\')" name="new_province" id="new_province'+currentnum+'" placeholder="'+text_province+'" ></div> </div></div> <div class="admin__field cnaddress cncity required _required"><label class="label admin__field-label" for="cncity"><span>'+text_city+'</span></label><div class="admin__field-control control"><select onchange="selectaddress(this,\'cnregion\',\''+currentnum+'\');" name="cncity" value="" title="'+text_city+'" class="input-text admin__control-text  required-entry" id="cncity'+currentnum+'" aria-required="true"></select><div  id="new_address_cncity'+currentnum+'" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text"  onchange="setnewdata(this.value,\'city\')" name="new_city" id="new_city'+currentnum+'" placeholder="'+text_city+'" ></div> </div></div>　<div class="admin__field cnaddress cnregion required _required"><label class="label admin__field-label" for="cnregion"><span>'+text_region+'</span></label><div class="admin__field-control control"><select type="text" name="cnregion" onchange="selectaddress(this,\'cnstreet1\',\''+currentnum+'\');"  value="" title="'+text_region+'" class="input-text admin__control-text  required-entry" id="cnregion'+currentnum+'" aria-required="true"></select><div  id="new_address_cnregion'+currentnum+'" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text"  onchange="setnewdata(this.value,\'region\')" name="new_region" id="new_region'+currentnum+'" placeholder="'+text_region+'" ></div> </div></div>　<div class="admin__field cnaddress cnregion2 required _required"><label class="label admin__field-label" for="cnregion2"><span>'+text_detail+'</span></label><div class="admin__field-control control"><input type="text" name="cnregion2" value="" title="'+text_detail+'" onchange="setnewdata(this.value,\'street2\')" class="input-text admin__control-text  required-entry" id="cnregion2'+currentnum+'" aria-required="true"></div></div>';
			
			jQuery(country1id).parent().parent().after(cnhtml);
			jQuery('.cnaddress').hide();
			
				if(jQuery(country1id).val()=='CN'){
					UseCNaddress();
					SetCNaddress();
				}
				
				jQuery(country1id).change(function(){ 
						if(jQuery(country1id).val()=='CN')						 
							UseCNaddress();
						else
							UseOrgaddress();
				});
				
				cnaddressadded=true;
			}
			
			
		}
		function checkandinit(){
			<?php if ( $useloopdetect  ){ ?>
			inticnaddress();
			<?php }else{ ?>
			if(!cnaddressadded)
				inticnaddress();
			if(cnaddressadded)
			clearInterval(tInterval);
			<?php } ?>
		}
			
require(['jquery', 'mage/storage'],function(jQuery,storage){
<?php if ( !$useloopdetect ){ ?>
   jQuery(document).ready(function(){ 
  inticnaddress();
  
 
  
  });
<?php }else{ ?>
  jQuery(document).ready(function(){ 
  	  tInterval =setInterval("checkandinit()",1000);
  });
 <?php 
   }
 ?>
  
  
});


</script>
<?php
}
?>