<?php 
if(stristr($_SERVER['REQUEST_URI'],'account/login') || stristr($_SERVER['REQUEST_URI'],'/checkout') ){
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl=$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
$ajaxurl=$baseurl.'chinasmslogin/process/getsmsicon/';
?>
<script  type="text/javascript"  >
	var insertsmsicons ='';
	var insersmstimes=0;
function initSMSIcon(){
					var maxtimes=3;
					<?php if(stristr($_SERVER['REQUEST_URI'],'/checkout') ){ ?>
						var target=jQuery("button.action-login").parent().parent().parent();
						maxtimes=3;
						<?php }else{ ?>
					var target=jQuery("button.login").parent().parent().parent().parent();
					maxtimes=1;
						<?php } ?>
					console.log(target.length);
					if(target.length==0){
						return;
					}
				jQuery.ajax({url: "<?php echo $ajaxurl?>", success: function(rdata){
						target.each(function(){
							var tag=jQuery(this);
							<?php if(stristr($_SERVER['REQUEST_URI'],'/checkout') ){ ?>
							if(tag.find('.smslogin').length<=0){
								tag.append(rdata);
							}
							<?php }else{ ?>
						if(jQuery('.smslogin').length<=0){
								tag.append(rdata);
							}
						<?php } ?>
						});	
						if(insersmstimes++>=maxtimes){
							clearInterval(insertsmsicons);
						}
					}});
}
require(['jquery', 'mage/storage'],function(jQuery,storage){
   jQuery(initSMSIcon).ready(function(){ 
		insertsmsicons =setInterval("initSMSIcon()",1000);
  });
});


function opensms(){
	jQuery('.smslogindiv').toggle();
	return false;
}

					
function Sms_isMobile(mobile) {
    var reg = /^1\d{10}$/;
    var regHK = /^852[569]\d{7}$/;
    return (reg.test(mobile) || regHK.test(mobile));
}

function showTips(tips) {
	jQuery(".smslogindiv .tips div").hide();
	jQuery(".smslogindiv .tips").show();
    jQuery(".smslogindiv .tips ."+tips).show();
	
    setTimeout(function() {
        jQuery(".smslogindiv .tips").hide();
    }, 4000);
}

function countDown() {
    if (waitTime == 0) {
        jQuery(".smslogindiv .send").attr("disabled", false).removeClass("waiting").html("<span><span>"+sendcodetext+"</span></span>");
        waitTime = initwaitTime;
    } else {
        jQuery(".smslogindiv .send").attr("disabled", "disabled").addClass("waiting").html("<span><span>"+waitcodetext.replace(/%s/g, waitTime)+"</span></span>");
        waitTime--;
        setTimeout(function() {
            countDown();
        }, 1000);
    }
}

function smssend(url){
	
    var phone = jQuery(".smslogindiv input.phone").val();
    var vcode = jQuery(".smslogindiv input.vcode").val();
    var countryno = jQuery(".smslogindiv .countryno").find("option:selected").val();
  	jQuery(".smslogindiv .tips").hide();
    if (!phone) {
        jQuery(".smslogindiv input.phone").addClass("login-error");
        return false;
    } else if (!Sms_isMobile(phone)) {
        jQuery(".smslogindiv input.phone").addClass("login-error");
        showTips("errornumber");
        return false;
    } else {
        jQuery(".smslogindiv input.phone").removeClass("login-error");
    }

    var data = {"phone": phone,"countryno": countryno, "vcode": vcode};
	url=url+'?phone='+phone+"&countryno="+countryno+"&vcode="+vcode+"&rad="+Math.random();
	 jQuery(".smslogindiv .send").attr("disabled", "disabled");
    jQuery.get(url, data, function(result) {
        countDown();console.log(result);
		if(result.status=='success')
        showTips("codesent");
		else{
   		jQuery(".smslogindiv .tips .message").html(result.message);
		showTips("message");
		}
    });
	
}


function smsloginAction(url){
 var phone = jQuery(".smslogin input.phone").val();
    var vcode = jQuery(".smslogin input.vcode").val();
	jQuery(".smslogindiv .tips").hide();
    if (!phone) {
        jQuery(".smslogin input.phone").addClass("login-error");
        return false;
    } else if (!Sms_isMobile(phone)) {
        jQuery(".smslogin input.phone").addClass("login-error");
        showTips("errornumber");
        return;
    } else {
        jQuery(".smslogin input.phone").removeClass("login-error");
    }

    if (!vcode) {
        jQuery(".smslogin input.vcode").addClass("login-error");
        showTips("errorphonecode");
        return;
    } else {
        jQuery(".smslogin input.vcode").removeClass("login-error");
    }

    var data = {"phone": phone, "vcode": vcode};
	url=url+'?phone='+phone+"&vcode="+vcode+"&rad="+Math.random();
	console.log(url);
    jQuery.get(url, data, function(result) {
        if (result && result.status == "success") {
            document.location.reload();
        } else {
            jQuery(".smslogindiv .tips .message").html(result.message);
			showTips("message");
        }
    });

}


</script>
<?php
}
?>