<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Transaction\History */
?>
<div class="wk-mp-design">
	<div class="wk-mp-tr-amount-wrapper">
		<div class="wk-mp-tr-amount-total">
			<div class="wk-mp-tr-amount-total-title">
				<div class="wk-mp-tr-txt-style"><?php echo __('Statement')?></div>
				<div class="wk-mp-tr-amount-style">
					<?php echo $block->getFormatedPrice($block->getTotalSellerSale());?>
				</div>
				<div class="wk-mp-tr-last-style">
					<?php echo __('Total Seller earning')?>
				</div>
				<div class="wk-mp-tr-last-style">
					(<?php echo __('base currency')?>)
				</div>
			</div>
			<div class="wk-mp-tr-amount-total-desc">
				<div>
					<div class="wk-mp-tr-amount-style">
						<?php echo "+ ".$block->getFormatedPrice($block->getTotalSale());?>
					</div>
					<div class="wk-mp-tr-last-style">
						<?php echo __('Total Sale')?>
					</div>
				</div>
				<div>
					<div class="wk-mp-tr-amount-style">
						<?php echo "- ".$block->getFormatedPrice($block->getTotalTax());?>
					</div>
					<div class="wk-mp-tr-last-style">
						<?php echo __('Tax')?>
					</div>
				</div>
				<div>
					<div class="wk-mp-tr-amount-style">
						<?php echo "- ".$block->getFormatedPrice($block->getTotalCommission());?>
					</div>
					<div class="wk-mp-tr-last-style">
						<?php echo __('Commission')?>
					</div>
				</div>
			</div>
		</div>
		<div class="wk-mp-tr-payout-total">
			<center>
				<div class="wk-mp-tr-payout-style">
					<?php echo $block->getFormatedPrice($block->getTotalPayout());?>
				</div>
				<div class="wk-mp-tr-last-style">
					<?php echo __('Total Payout')?>
				</div>
				<div class="wk-mp-tr-last-style">
					(<?php echo __('base currency')?>)
				</div>
			</center>
		</div>
		<div class="wk-mp-tr-remain-total">
			<form action="<?php echo $block->getUrl('marketplace/withdrawal/request');?>" method="post">
				<?php echo $block->getBlockHtml('formkey')?>
				<?php echo $block->getBlockHtml('seller.formkey')?>
				<input type="hidden" name="is_requested" value="1"/>
				<div class="wk-mp-tr-remain-title">
					<div class="wk-mp-tr-txt-style"><?php echo __('Withdrawal')?></div>
					<div class="wk-mp-tr-amount-style">
						<?php echo $block->getFormatedPrice($block->getRemainTotal());?>
					</div>
					<div class="wk-mp-tr-last-style">
						<?php echo __('Remaining Payout')?>
					</div>
					<div class="wk-mp-tr-last-style">
						(<?php echo __('base currency')?>)
					</div>
				</div>
				<?php if ($block->getRemainTotal()*1) { ?>
					<div class="wk-mp-tr-remain-btn">
						<button type="submit" class="action-default action-primary">
						<?php echo __('Make a Withdrawal')?>
						</button>
					</div>
				<?php }?>
			</form>
		</div>
	</div>
</div>
