<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Taxvat $block */
?>
<div class="field taxvat<?php if ($block->isRequired()) echo ' required'; ?>">
    <label class="label" for="<?= $block->escapeHtml($block->getFieldId('taxvat')) ?>"><span><?= $block->escapeHtml(__('Tax/VAT number')) ?></span></label>
    <div class="control">
        <input type="text" id="<?= $block->escapeHtml($block->getFieldId('taxvat')) ?>" name="<?= $block->escapeHtml($block->getFieldName('taxvat')) ?>" value="<?= $block->escapeHtml($block->getAccountTaxvat()) ?>" title="<?= $block->escapeHtml(__('Tax/VAT number')) ?>" class="input-text <?= $block->escapeHtml($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('taxvat')) ?>" <?php if ($block->isRequired()) echo ' data-validate="{required:true}"' ?>>
    </div>
</div>
