<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$captchenable = $helper->getCaptchaEnable();
$partner = $block->getProfileDetail();
$sellerId = $partner->getSellerId();
?>
<div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
    <a class="askque"><?php echo __('Contact') ?></a>
    <div class="ask-que">
        <div id="wk-mp-ask-data">
            <div class="modals-wrapper">
                <aside tabindex="0" data-type="popup" data-role="modal" class="modal-popup modal-slide _inner-scroll wk-mp-model-popup">
                    <div tabindex="0" data-role="focusable-start"></div>
                    <div data-role="focusable-scope" class="modal-inner-wrap">
                        <header class="modal-header">
                            <h4 class="modal-title"><?php echo __('Contact Seller') ?></h4>
                            <button type="button" data-role="closeBtn" class="action-close wk-close">
                                <span><?php echo __('Close') ?></span>
                            </button>
                            <span  class="wk-clear" ></span>
                        </header>
                        <?php
                        if ($helper->isCustomerLoggedIn()) {
                            $readonly = "readonly='readonly'";
                        } else {
                            $readonly = '';
                        }
                        ?>
                        <form id="ask-form" method="post" action="#" class="fieldset">
                            <div class="modal-body form-list field required" data-bind="scope: 'customer'">
                                <label class="label"><?php echo __('Your Name') ?> :</label>
                                <input type="text" name="name" class="queryemail wk-contact_input_fields required-entry" data-bind="value: customer().fullname" <?php echo $readonly?>/>
                                <label class="label"><?php echo __('Your Email') ?> :</label>
                                <input type="text" name="email" class="queryemail required-entry validate-email wk-contact_input_fields" data-bind="value: customer().email" <?php echo $readonly?>/>
                                <label class="label"><?php echo __('Subject') ?> :</label>
                                <input type="text" name="subject" class="wk-contact_input_fields required-entry"/>
                                <label class="label"><?php echo __('Your Query') ?> :</label>
                                <textarea  name="ask" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
                                <input type="hidden" name="seller-id" value="<?php echo $sellerId;?>"/>
                                <?php if ($captchenable) { ?>
                                    <label class="label"><?php echo __('Please enter desired result') ?></label>
                                    <div>
                                        <span>
                                            <label for="wk-mp-captcha"><span id="wk-mp-captchalable1"><?php echo rand(1,20)?></span> + <span id="wk-mp-captchalable2"><?php echo rand(1,20)?></span> =</label>
                                        </span>
                                        <input type="text" class="required-entry wk-contact_input_fields" name="wk-mp-captcha" id="wk-mp-captcha" />
                                    </div>
                                <?php
                                }?>
                            </div>
                            <div class="modal-footer">
                                <span class="error"></span>
                                <span class="errormail"></span>
                                <input type="reset" value="<?php echo __('Reset') ?>" id="resetbtn" class="wk-btn wk-btn_default"/>
                                <input type="submit" value="<?php echo __('Submit') ?>" id="askbtn" class="wk-btn wk-btn-primary clickask"/>
                                <span class="wk-clear"></span>
                            </div>
                        </form>
                        <script type="text/x-magento-init">
                        {
                            "*": {
                                "Magento_Ui/js/core/app": {
                                    "components": {
                                        "customer": {
                                            "component": "Magento_Customer/js/view/customer"
                                        }
                                    }
                                }
                            }
                        }
                        </script>
                    </div>
                    <div tabindex="0" data-role="focusable-end"></div>
                </aside>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($) {
        var askDataForm = $('#ask-form');
        askDataForm.mage('validation', {});

        $('body').append($('#wk-mp-ask-data'));
        $('.askque').click(function() {
            $('#ask-form input,#ask-form textarea').removeClass('mage-error');
            $('.page-wrapper').css('opacity','0.4');
            $('.wk-mp-model-popup').addClass('_show');
            $('#wk-mp-ask-data').show();
        });
        $('.wk-close').click(function() {
            $('.page-wrapper').css('opacity','1');
            $('#resetbtn').trigger('click');
            $('#wk-mp-ask-data').hide();
            $('#ask-form .validation-failed').each(function() {
                $(this).removeClass('validation-failed');
            });
            $('#ask-form .validation-advice').each(function() {
                $(this).remove();
            });
        });
        $('#askbtn').click(function() {
            if (askDataForm.valid()!=false) {
                var thisthis = $(this);
                if (thisthis.hasClass("clickask")) {
                    <?php if ($captchenable) { ?>
                        var total = parseInt($('#wk-mp-captchalable1').text()) + parseInt($('#wk-mp-captchalable2').text());
                        var wk_mp_captcha = $('#wk-mp-captcha').val();
                        if (total != wk_mp_captcha) {
                            $('#wk-mp-captchalable1').text(Math.floor((Math.random()*10)+1));
                            $('#wk-mp-captchalable2').text(Math.floor((Math.random()*100)+1));
                            $('#wk-mp-captcha').val('');
                            $('#wk-mp-captcha').addClass('mage-error');
                            $(this).addClass('mage-error');
                            $('#ask_form .errormail').text("<?php echo __(' Wrong verification number. ') ?>").slideDown('slow').delay(2000).slideUp('slow');
                        } else {
                            thisthis.removeClass('clickask');
                            $('#wk-mp-ask-data').addClass('mail-procss');
                            $.ajax({
                                url:'<?php echo $block->getUrl("marketplace/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]) ?>',
                                data:$('#ask-form').serialize(),
                                type:'post',
                                dataType:'json',
                                success:function(d) {
                                    thisthis.addClass('clickask');
                                    $('#wk-mp-ask-data').removeClass('mail-procss')
                                    alert("<?php echo __('Your mail has been sent.') ?>..");
                                    $('.wk-close,#resetbtn').trigger('click');
                                }
                            });
                        }
                    <?php } else { ?>
                        thisthis.removeClass('clickask');
                            $('#wk-mp-ask-data').addClass('mail-procss');
                            $.ajax({
                                url:'<?php echo $block->getUrl("marketplace/seller/sendmail", ["_secure" => $this->getRequest()->isSecure()]) ?>',
                                data:$('#ask-form').serialize(),
                                type:'post',
                                dataType:'json',
                                success:function(d) {
                                    thisthis.addClass('clickask');
                                    $('#wk-mp-ask-data').removeClass('mail-procss')
                                    alert("<?php echo __('Your mail has been sent.') ?>..");
                                    $('.wk-close,#resetbtn').trigger('click');
                                }
                            });
                    <?php } ?>
                }
                return false;
            }
        });
    });
</script>
