.config-nav-block.cminds-icon div::before {
    content: '';
    background-image: url('../images/cminds-icon.png');
    background-size: auto 18px;
    background-repeat: no-repeat;
    padding-left: 20px;
}