<?php 
echo '<!--china address from sunfloweriz.com -->';
if(stristr($_SERVER['REQUEST_URI'],'customer/address') || stristr($_SERVER['REQUEST_URI'],'/checkout')){
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$core_write = $resource->getConnection();
	$tableName = $resource->getTableName('address_cn_data');
	$allcnaddress=array();
	


$directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');
$rootPath  =  $directory->getRoot();

$base = $rootPath."/app/code/Sunflowerbiz/ChinaAddress/Setup";	
$vendorbase=$rootPath."/vendor/Sunflowerbiz/ChinaAddress/Setup";
	if(!file_exists($base.'/address_cn_data.sql') && file_exists( $vendorbase.'/address_cn_data.sql')){
		$base=$vendorbase;
	}

	if(file_exists($base.'/address_cn_data.sql') ) {
		$maxsql= "select * from `".$tableName."` ";
		$sqlfetch=$core_write->fetchAll($maxsql);
		if(count($sqlfetch)<=0){	
				$insertsqls=str_replace('`address_cn_data`','`'.$tableName.'`',file_get_contents($base.'/address_cn_data.sql'));
				 $charset[1] = substr($insertsqls, 0, 1); 
				 $charset[2] = substr($insertsqls, 1, 1); 
				 $charset[3] = substr($insertsqls, 2, 1); 
				   if (ord($charset[1]) == 239 && ord($charset[2]) == 187 && ord($charset[3]) == 191)
      					 $insertsqls = substr($insertsqls, 3); 
				
					$insertsqls=str_replace(array('\r','\n'),'',$insertsqls);
				$insertsqlsarray=	explode(';', $insertsqls);
				foreach($insertsqlsarray as $insertsql){
				//echo trim($insertsql).'<br>';
				$core_write->query(trim($insertsql));
				}
			}
			
	}
	
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl=$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$ajaxurl=$baseurl.'/chinaaddress/getaddress/cnaddress/';



?>
<script  type="text/javascript"  >

	var cnurl="<?php echo $ajaxurl?>";
	var text_province="<?php echo __('China Province');?>";
	var text_city="<?php echo __('China City');?>";
	var text_region="<?php echo __('China Region/Area');?>";
	var text_detail="<?php echo __('China Detail address');?>";
	var text_select="<?php echo __('- Please select -');?>";
	var text_loading="<?php echo __('- Loading... -');?>";
	var  tInterval ='';
	
	var street1id='#street_1';
	var street2id='#street_2';
	
	  <?php 
	if(stristr($_SERVER['REQUEST_URI'],'/checkout') ){
		echo    'street1id="input[name=\'street[0]\']";
	street2id="input[name=\'street[1]\']";
	';
   }
 ?>
	
	var cnaddressadded=false;
	function selectaddress(name,targ){
				var current="";
				if(targ=='cncity') current="cnprovince";
				if(targ=='cnregion') current="cncity";
				if(targ=='cnstreet1') current="cnregion";
				if(name=='new'){
					jQuery("#new_address_"+current).fadeIn();
					return;
				}
				if(targ=='cncity') jQuery("input[name='region']").val(name).trigger("keyup");
				if(targ=='cnregion') jQuery("input[name='city']").val(name).trigger("keyup");
				jQuery("#new_address_"+current).hide();
				if(targ=='cnstreet1') {jQuery(street1id).val(name).trigger("keyup");return;}
				jQuery("#"+targ).html("<option value=''>"+text_loading+"</option>");
				jQuery("#loadloading_"+targ).fadeIn();
				//jQuery("#"+targ).html("");
				var url=cnurl+"?type="+targ+"&name="+name; 
				if(targ=='cnregion')
				url+='&province='+jQuery("#cnprovince").val();
			
				jQuery.post(url,'',function(result){
   						jQuery("#"+targ).html(result);
						jQuery("#loadloading_"+targ).hide();
 				 });
				/*	var req = getAjax();  
				req.open("GET", url, false);
				req.onreadystatechange = function(){ 
				  if(req.readyState==4){  
					var rdata=req.responseText;
					jQuery("#"+targ).html(rdata);
					jQuery("#loadloading_"+targ).hide();
				 }  
				}; 
				req.send(null);*/
			}
			
		function setnewdata(val,targ){
					if(targ=='province') jQuery("input[name='region']").val(val).trigger("keyup");
					if(targ=='city') jQuery("input[name='city']").val(val).trigger("keyup");
					if(targ=='region') jQuery(street1id).val(val).trigger("keyup");
					if(targ=='street2') jQuery(street2id).val(val).trigger("keyup");
		}
			
		function getAjax() {     
				var oHttpReq = null;  if(window.ActiveXObject)  oHttpReq = new ActiveXObject("MSXML2.XMLHTTP");     else if(window.createRequest)  oHttpReq = window.createRequest(); else  oHttpReq = new XMLHttpRequest();return oHttpReq;
			}  
			
		function SetCNaddress(){
				var province=jQuery("input[name='region']").val();
				jQuery('#cnprovince').val(province);
				if(province!='' && jQuery('#cnprovince').val()==null){
				jQuery('#cnprovince').val('new');
				jQuery("#new_address_cnprovince").fadeIn().find('input').val(province);
				}
				var city=jQuery("input[name='city']").val();
				var region=jQuery(street1id).val();

				var region2=jQuery(street2id).val();
				var url=cnurl+"?type=setdefault&province="+province+"&city="+city+"&region="+region;
				var url=cnurl+"?type=cncity&name="+province;
				
				jQuery.ajax({url: url, success: function(rdata){
					jQuery("#cncity").html(rdata);
					jQuery('#cncity').val(city);
					if(city!='' && jQuery('#cncity').val()==null){
						jQuery('#cncity').val('new');
						jQuery("#new_address_cncity").fadeIn().find('input').val(city);
					}
					
					var url=cnurl+"?type=cnregion&name="+city;
					jQuery.ajax({url: url, success: function(rdata){
						jQuery("#cnregion").html(rdata);
						jQuery('#cnregion').val(region);
						if(region!='' && jQuery('#cnregion').val()==null){
						jQuery('#cnregion').val('new');
						jQuery("#new_address_cnregion").fadeIn().find('input').val(region);
						}
						
					}});
				}});
				jQuery('#cnregion2').val(region2);
			
		}
			
		function UseCNaddress(){
				//alert('Use cn');	
				jQuery('.cnaddress').show();
				jQuery("input[name='region']").parent().parent().hide();
				jQuery("input[name='city']").parent().parent().hide();
				
				if(street1id!='#street_1')
				jQuery(street1id).parent().parent().parent().parent().hide();
				else
				jQuery(street1id).parent().parent().hide();
		}
		function UseOrgaddress(){
				//alert('Use org');	
				jQuery('.cnaddress').hide();
				jQuery("input[name='region']").parent().parent().show();
				jQuery("input[name='city']").parent().parent().show();
				if(street1id!='#street_1')
				jQuery(street1id).parent().parent().parent().parent().show();
				else
				jQuery(street1id).parent().parent().show();
		}
		
			
		function inticnaddress(){
			if(jQuery("select[name='country_id']").length>0 && jQuery("input[name='region']").length>0 && !cnaddressadded){

		var cnhtml='<div class="field cnaddress cnprovince required _required"><label class="label" for="cnprovince"><span>'+text_province+'</span></label><div class="control"><select onchange="selectaddress(this.value,\'cncity\');" name="cnprovince" value="" title="'+text_province+'" class="input-text  required-entry" id="cnprovince" aria-required="true"><?php
		echo '<option value="">' . __('- Please select -') . '</option>';
		$maxsql= "select * from `".$tableName."` group by province ";
		$sqlfetch=$core_write->fetchAll($maxsql);
		foreach($sqlfetch as $cnaddress){
		echo '<option value="'.$cnaddress['province'].'">'.$cnaddress['province'].'</option>';
		}		
		echo '<optgroup label="====================="></optgroup><option value="new">'. __('Not found, enter yourself').'</option>';
			
?></select><div  id="new_address_cnprovince" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text" onchange="setnewdata(this.value,\'province\')" name="new_province" id="new_province" placeholder="'+text_province+'" ></div> </div></div><div class="field cnaddress cncity required _required"><label class="label" for="cncity"><span>'+text_city+'</span></label><div class="control"><select onchange="selectaddress(this.value,\'cnregion\');" name="cncity" value="" title="'+text_city+'" class="input-text  required-entry" id="cncity" aria-required="true"></select><div  id="new_address_cncity" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text"  onchange="setnewdata(this.value,\'city\')" name="new_city" id="new_city" placeholder="'+text_city+'" ></div> </div></div><div class="field cnaddress cnregion required _required"><label class="label" for="cnregion"><span>'+text_region+'</span></label><div class="control"><select type="text" name="cnregion" onchange="selectaddress(this.value,\'cnstreet1\');"  value="" title="'+text_region+'" class="input-text  required-entry" id="cnregion" aria-required="true"></select><div  id="new_address_cnregion" class="newaddressfield" style="display:none;margin-top:10px;"><input type="text"  onchange="setnewdata(this.value,\'region\')" name="new_region" id="new_region" placeholder="'+text_region+'" ></div> </div></div><div class="field cnaddress cnregion2 required _required"><label class="label" for="cnregion2"><span>'+text_detail+'</span></label><div class="control"><input type="text" name="cnregion2" value="" title="'+text_detail+'" onchange="setnewdata(this.value,\'street2\')" class="input-text  required-entry" id="cnregion2" aria-required="true"></div></div>';
			
			jQuery("select[name='country_id']").parent().parent().after(cnhtml);
			jQuery('.cnaddress').hide();
			
				if(jQuery("select[name='country_id']").val()=='CN'){
					UseCNaddress();
					SetCNaddress();
				}
				
				jQuery("select[name='country_id']").change(function(){ 
						if(jQuery("select[name='country_id']").val()=='CN')						 
							UseCNaddress();
						else
							UseOrgaddress();
				});
				
				cnaddressadded=true;
			}
			
			
		}
		function checkandinit(){
			if(!cnaddressadded)
				inticnaddress();
			if(cnaddressadded)
			clearInterval(tInterval);
		}
			
require(['jquery', 'mage/storage'],function(jQuery,storage){
   jQuery(document).ready(function(){ 
		inticnaddress();
  });
  
  <?php 
	if(stristr($_SERVER['REQUEST_URI'],'/checkout') ){
		echo    'tInterval =setInterval("checkandinit()",1000);';
   }
 ?>
  
  
});


</script>
<?php
}
?>