<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/** @var $block \Webkul\Marketplace\Block\Page\Notofications */
?>
<ul class="wk-mp__action-dropdown-menu wk-mp-dashboard-notifications-menu">
    <?php foreach ($block->getAllNotification() as $notification) {
        echo $block->getNotificationInfo($notification);
    } ?>
    <li>
        <small>
            <a href="<?php echo $block->getUrl('marketplace/account/notification')?>">
                <?php echo __("View All")?>
            </a>
        </small>
    </li>
</ul>