/*Price Css*/
.wk-ap-price-block {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}
.wk-ap-from-price {
    font-size: 16px;
}
.wk-ap-minimum-price {
    color: #11b400;
}

/*List Css*/
.wk-ap-fieldset * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.wk-ap-btn {
    margin-top: 10px;
}
.wk-ap-list-item {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #c0c0c0;
    float: left;
}
.wk-ap-col {
    display: inline-block;
    float: left;
    padding: 5px;
}
.wk-ap-sm-col {
    width: 15%;
}
.wk-ap-lg-col {
    width: 55%;
}
.wk-ap-img-col {
    width: 75px
}
.wk-ap-btn-col {
    width: 120px
}
.wk-ap-action-col {
    width: 200px
}
.wk-ap-img-col2 {
    width: 140px
}
.wk-table-product-list tbody tr td {
    vertical-align: middle;
}

/*Add Css*/
.wk-ap-product-view {
    display: inline-block;
    width: 100%;
}
.wk-ap-product-img {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 10px;
}
.wk-ap-product-description {
    display: inline-block;
    width: 80%;
    float: left;
    padding: 10px;
    font-size: 15px;
}

/*View Css*/

.wk-ap-fieldset {
    margin-top: 20px;
    border: 1px solid #c0c0c0;
}

/*Assignproduct Css*/
.wk-ap-product-list {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.wk-table-product-list .wk-ap-qty {
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}
.wk-loading-mask {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.wk-loader {
    background: url("../images/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}
.wk-display-none {
    display: none !important;
}

.wk-ap-edit-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/icon-edit.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}
.wk-ap-delete-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/icon-trash.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

.wk-ap-main-product-name {
    font-size: 30px;
}
.wk-ap-main-product-price {
    color: #575757;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
}
.wk-ap-main-product-description {
    text-align: justify;
}
.wk-ap-seller-info {
    width: 100%;
    text-align: center;
}
.wk-ap-seller-review-info {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.wk-ap-shop-link {
    display: inline-block;
    width: 100%;
}

.wk-ap-shop-link > img {
    width: 75px;
}

.wk-ap-ap-img-box {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 70px;
    position: relative;
}

.wk-ap-ap-img-del {
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 17px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 17px;
}
.wk-ap-img{
    width: 75px;
}
.wk-ap-img2 {
    width: 40px;
}



.mpassignproduct-product-edit .fieldset .legend {
    display: inline-block;
    margin: 0 0 20px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.mpassignproduct-product-edit .fieldset > .field:not(.choice) > .control {
    width: 100%;
}
.mpassignproduct-product-edit .fieldset > .field:not(.choice) > .label {
    margin-bottom: 5px;
    text-align: left;
    width: auto;
}
.mpassignproduct-product-add .fieldset .legend {
    display: inline-block;
    margin: 0 0 20px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.mpassignproduct-product-add .fieldset > .field:not(.choice) > .control {
    width: 100%;
}
.mpassignproduct-product-add .fieldset > .field:not(.choice) > .label {
    margin-bottom: 5px;
    text-align: left;
    width: auto;
}
.wk-associated-table td {
    border-top : 1px solid #ccc;
}
.wk-associated-table input[type="text"] {
    width:60px;
}
.wk-associated-table tr td:first-child {
    width : 20px;
}
.wk-ap-product-list.wk-ap-fieldset {
    border-left: 0 none;
    border-right: 0 none;
    margin: 0px;
    margin-bottom: 50px;
}

.wk-ap-list-header {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 0;
    width: 100%;
}
.wk-ap-list-header span {
    color: #FF5500;
}
.wk-ap-img-col3 {
    width: 100px;
}
.wk-ap-shop-title {
    color: #1979c3;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    width: 100%;
}
.wk-ap-img-col2 {
    width: 220px;
    padding-left: 0px;
}
.wk-ap-product-price {
    color: #555;
    font-size: 30px;
    font-weight: 500;
}
.wk-ap-rating-info > span {
    color: #1979c3;
    font-weight: 600;
}

.wk-ap-rating-info {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}
.wk-ap-condition-label {
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    padding: 2px 8px;
    text-transform: uppercase;
}
.wk-ap-New {
    background: #3ac256 none repeat scroll 0 0;
    color: #fff;
}
.wk-ap-Used {
    background: #999999 none repeat scroll 0 0;
    color: #fff;
}
.wk-ap-list-header .sorter-label {
    font-size: 14px;
}
#list_sorter {
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #fff inset, 0 -1px 0 0 rgba(204, 204, 204, 0.3) inset;
}
.wk-ap-condition-label.wk-out-of-stock {
    background: #c6c6c6 none repeat scroll 0 0;
    color: #9b9b9b;
}
.wk-ap-warning-content {
    padding: 20px 0;
}
.mpassignproduct-product-edit .modal-popup .modal-title {
    border: none;
}
.mpassignproduct-product-productlist .modal-popup .modal-title {
    border: none;
}



.wk-ap-info-wrap {
    width: 125px;
}
.wk-ap-product-info-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: none;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: justify;
    top: 20px;
    width: 300px;
    z-index: 999;
    color : #222;
    max-height:400px;
    overflow:auto;
}

.wk-ap-product-info {
    background: #1979c3 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    cursor:pointer;
    float : left;
    margin-top : 2px;
}
.wk-ap-product-info:hover .wk-ap-product-info-content {
    display : inline-block;
}
.wk-ap-condition-label {
    float: left;
}
.wk-ap-product-image {
    border: 2px solid green;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: 5px;
    position: relative;
    width: 20px;
}
.wk-ap-product-showcase-gallery-item {
    display: inline-block;
    float: left;
    height: auto;
    margin-right: 10px;
    width: 85.6px;
    height : 100px;
    cursor :pointer;
}

.wk-ap-product-showcase-gallery {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    padding: 0 15px;
    width: 100%;
    float:left;
    margin-bottom : 10px;
    position : relative;
}
.wk-ap-product-showcase-main {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100%;
    float:left;
}
.wk-ap-product-showcase {
    display: inline-block;
    width: 100%;
    float:left;
}

.wk-ap-product-image-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    right: -100px;
    top: 25px;
    width: 500px;
    z-index: 99;
    cursor:default;
}
.wk-ap-product-showcase-gallery-viewport {
    width :100%;
    overflow:hidden;
}
.wk-ap-product-showcase-gallery-viewport {
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wk-ap-product-showcase-gallery-wrap {
    display: inline-block;
    height: 100px;
    position: absolute;
}

.wk-ap-product-showcase-gallery-item > img {
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}
.wk-ap-product-showcase-gallery-item.wk-ap-active {
    border: 2px solid #ff5722;
}
.wk-ap-gallery-navigation {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 1000;
}
.wk-gallery-right {
    right:15px;
}
.wk-gallery-left {
    left:15px;
}
.wk-ap-gallery-navigation-left {
    background-image: url("../images/gallery.png");
    background-position: -25px -265px;
    background-repeat: no-repeat;
    left: 50%;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 100%;
}
.wk-ap-gallery-navigation-right {
    background-image: url("../images/gallery.png");
    background-position: -25px -345px;
    background-repeat: no-repeat;
    left: 50%;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 100%;
}
.wk-ap-product-image-panel {
    position:relative;
    display:inline-block;
}
.wk-ap-product-image-inner {
    border: 2px solid green;
    border-radius: 1px;
    display: inline-block;
    height: 17px;
    left: -7px;
    position: absolute;
    top: 1px;
    width: 25px;
    z-index: -5;
}

.wk-ap-product-image {
    background: white none repeat scroll 0 0;
    border: 2px solid green;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 23px;
    margin-left: 10px;
    position: relative;
    width: 15px;
}
.wk-ap-img-col2 {
    width : 120px;
}
.wk-ap-product-showcase-main > img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.wk-ap-product-showcase-main {
    display: inline-block;
    float: left;
    height: 350px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 980px) {
    .wk-ap-product-price {
        font-size:25px;
    }
    .wk-table-product-list tbody tr td {
        padding : 5px;
    }
}
@media only screen and (max-width: 820px) {
    .catalog-product-view .wk-table-product-list thead tr th:nth-child(4) {
        display : none;
    }
    .catalog-product-view .wk-table-product-list tbody tr td:nth-child(4) {
        display : none;
    }
}
@media only screen and (max-width: 767px) {
    .catalog-product-view .wk-table-product-list {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list tbody {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list thead {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list td {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list th {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list tr {
        display : inline-block;
        width :100%;
    }
    .catalog-product-view .wk-table-product-list thead th {
        display : none;
    }
     .catalog-product-view .wk-table-product-list tbody tr td {
        border: none;
    }
    .catalog-product-view .wk-table-product-list tbody td:nth-child(n) {
        display : inline-block;
        padding: 2px 0px;
    }

    .catalog-product-view .wk-table-product-list tbody tr:nth-child(n) {
        border-top : 1px solid #ccc;
        margin : 5px 0;
    }
     .catalog-product-view .wk-table-product-list tbody {
        padding : 10px 15px;
    }
    .catalog-product-view .wk-table-product-list tbody td:nth-child(n) {
        display: inline-block;
        float: left;
        padding: 3px 0;
        width: 44%;
    }
    .catalog-product-view .wk-table-product-list tbody td:nth-child(1) {
        width : 210px;
        height: 200px;
        padding-right: 10px;
    }
    .wk-ap-seller-info {
        height : 100%;
        border: 1px solid #ccc;
    }
    .wk-ap-shop-link {
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;
    }
    .wk-ap-shop-link > img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .wk-ap-product-image-content {
        right: -200px;
    }
    .wk-ap-product-info-content {
        right: -120px;
    }
}
@media only screen and (max-width: 550px) {
    .wk-ap-product-info-content {
        right: -100px;
    }
    .wk-ap-product-showcase-gallery-item {
        width : 78.6px;
    }
    .wk-ap-product-image-content {
        width : 435px;
        right: -100px;
    }
}
@media only screen and (max-width: 450px) {
   .catalog-product-view .wk-table-product-list tbody td:nth-child(n) {
       width : 100%;
   }
   .wk-ap-product-info-content {
        left: -55px;
        right: unset;
    }
    .wk-ap-product-image-content {
        left: -75px;
        right: unset;
        width: 315px;
    }
    .wk-ap-product-showcase-gallery {
        display : none;
    }
}
@media only screen and (max-width: 380px) {
    .wk-ap-product-image-content {
        width: 250px;
    }
}

.wk-showcase-container, .wk-showcase-container * {
    box-sizing: border-box;
}
.wk-showcase-container {
    display: inline-block;
    width: 100%;
}
.wk-showcase-block {
    width: 150px;
    min-height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: left;
    margin-left:0px;
    margin-right:20px;
}
.wk-delete-item {
    background: #222 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    line-height: 17px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 20px;
    z-index:99;
}
.wk-showcase-block img {
    float: left;
    display: inline-block;
    float: left;
    height: auto;
    position: relative;
    top: 74px;
    transform: translateY(-50%);
    width: 100%;
}
.wk-no-display {
    display: none;
}
.wk-default-block {
    width: 148px;
    height: 148px;
    display: inline-block;
    float: left;
    line-height: 148px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.wk-add-showcase-btn {
    background: #fa6f1d none repeat scroll 0 0;
    border: 1px solid #fa6f1d;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
}
.wk-button-set {
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}

input.wk-base-image-input {
    float: left;
    margin: 0;
}
.wk-base-image-label {
    display: inline-block;
    float: left;
    font-size: 10px;
    line-height: 15px;
    margin-left: 2px;
}
.wk-base-image-block {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display:none;
    background: rgb(255, 255, 255, 0.76) none repeat scroll 0 0;
    color: #000;
}
.wk-display-inline-block {
    display:inline-block !important;
}










@media only screen and (max-width: 960px) {
    .mpassignproduct-product-productlist .wk-table-product-list thead th:nth-child(4) {
        display : none;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody td:nth-child(4) {
        display : none;
    }
}
@media only screen and (max-width: 800px) {
    .mpassignproduct-product-productlist .wk-table-product-list thead th:nth-child(2) {
        display : none;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody td:nth-child(2) {
        display : none;
    }
}
@media only screen and (max-width: 767px) {
    .mpassignproduct-product-productlist .wk-table-product-list * {
        display : inline-block;
        width :100%;
    }
    .mpassignproduct-product-productlist .wk-table-product-list .wk-ap-del-chkbox {
        width :auto;
        margin-top : 10px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list .wk-ap-delete-item {
        width :16px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list .wk-ap-edit-item {
        width :16px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list thead th {
        display : none;
    }
    .mpassignproduct-product-productlist .wk-table-product-list thead th:first-child {
        display : inline-block;
        padding-bottom:0px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody tr td {
        border: none;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody td:nth-child(n) {
        display : inline-block;
        padding: 2px 0px;
    }

    .mpassignproduct-product-productlist .wk-table-product-list tbody tr:nth-child(n) {
        border-top : 1px solid #ccc;
        margin : 5px 0;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody {
        padding : 10px 15px;
    }
    .wk-ap-img2 {
        max-width: 300px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody td:nth-child(n)::before {
        content: attr(data-title) ":";
        display: inline-block;
        font-style: italic;
        font-weight: 700;
        padding-right: 15px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody tr td:nth-child(1)::before {
        content: "";
        display: inline-block;
        font-style: italic;
        font-weight: 700;
        padding-right: 0px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody tr td:nth-child(2)::before {
        content: "";
        display: inline-block;
        font-style: italic;
        font-weight: 700;
        padding-right: 0px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list tbody tr td:nth-child(9)::before {
        content: "";
        display: inline-block;
        font-style: italic;
        font-weight: 700;
        padding-right: 0px;
    }
    .mpassignproduct-product-productlist .wk-table-product-list .wk-ap-pn {
        width : auto;
    }
}

@media only screen and (max-width: 800px) {
    .wk-table-product-view .wk-table-product-list {
        font-size:13px;
    }
    .wk-table-product-view .wk-table-product-list thead th {
        padding : 5px;
    }
    .wk-table-product-view .wk-table-product-list tbody td {
        padding : 5px;
    }
    .wk-ap-btn-col button {
        font-size: 12px;
        margin-top: 1px;
        padding: 5px 10px;
    }
    .wk-ap-btn-col {
        width : 90px;
    }
}
.mp-assign{
    padding: 5px;
    opacity: 0.4;
}