.smslogin{
	display:block;
    float: none;
    clear: both;
    padding-top: 10px;
}

.login-error {
    border: 1px solid #00a0ea;
}
.smslogin .tips{border-radius:5px; background:#EA6200;color:#fff;max-width:100%; padding:10px;display:none;    margin: 10px 0px; text-align: center;}
.smslogin .tips div{display:none}

.smslogindiv{
	background: #f6f6f6;
	display:none;
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
	text-align:center;
	clear:both;
}
.smslogindiv .countrynodiv{
	float:left;
	width:20%;
}

.smslogindiv .phonediv{
	float:right;
	width:75%;
}		
.smslogindiv .vcodediv{clear:both}
.smslogindiv input,.smslogindiv select{
	padding:5px;
	height:30px;
	margin:5px;
	max-width:100%;
}
.smsloginbutton{margin-bottom: 5px;}
.smslogindiv .vcode{max-width:30%;display: inline;}
.smslogindiv .send{display: inline;}
.smslogindiv .button{float: none !important;}